/*HEADER NAVEGACION*/
.header-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: white;
  border-bottom: black solid 2px;
}

.lista-item {
  display: flex;
  height: 3rem;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  /* column-gap: 1rem; */
  list-style: none;
  font-weight: 700;
  overflow: hidden;
}

.item-nav {
  padding: 1rem;
  border-right: solid 1px;
  text-align: center;
  text-decoration: none;
  color: #000142;
}
.item-nav img {
  height: 1.7rem;
}
.ico {
  height: 1.7rem;
  fill: black;
}
.ico:hover {
  fill: red;
}

.item-nav:hover {
  color: #00a8cc;
  transition-duration: 600ms;
  font-weight: 900;
}

@media (max-width: 560px) {
  .lista-item {
    margin-right: 0.5em;
  }
}
