* {
  position: relative;
  margin: 0em;
  padding: 0em;
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
.contenedor {
  margin: 0 10%;
}
body {
  font-family: "Sen", sans-serif;
  background: white;
  min-width: 515px;
}
.h1-titulo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--main-color);
  padding: 1rem 1em;
  border: solid 2px;
  margin-bottom: 1em;
}

.body::-webkit-scrollbar-track {
  color: #142850;
}

/*varios*/
.borde-test {
  border: 1px solid red;
}

@keyframes inf-olas {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* fin varios*/

.olas__inf {
  background-image: url(../img/wave.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 1000px 100px;
  background-color: #142850;
  overflow: hidden;
  animation: inf-olas 15s linear infinite;
  height: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.imagen-centro {
  width: 50%;
  height: 50%;
}

.btn {
  font-weight: 600;
  border: #142850 2px solid;
  border-radius: 10px;
  padding: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: #142850;
  transition: 250ms ease-in-out;
}

.icon {
  width: 25px;
  height: 25px;
}
@media (max-width: 1000px) {
  .contenedor {
    text-align: center;
  }
}
