.skill_titulo {
  transform: rotate(-90deg) translate(-50%, -100%);
  position: absolute;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  @media (max-width: 768px) {
    display: none;
  }
}

#skills-list::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#skills-list::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 0.5rem;
}

#skills-list::-webkit-scrollbar-thumb:hover {
  background-color: #bababa;
}
