#texto1 { font-size: 22px}

.texto1 {
  font-size: 30px;
}

*{
  /*esto hacer que todo por default no tenga margen con la pagina
   ni distancia entre si(padding)*/
  margin: 0px;
  padding: 0px
}

p:nth-child(4){
  background: #999999;
}

h1 {
  /*se puede reasignar todos los h1, h2, h3*/
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption{
  /*esto los vuelve a todos los elementos bloques
  para que ninguno piense que se puede alinear con otro
  despues dentro de cada uno se le reasignara*/
  display: block;

}

body {
  /*centrar todo*/
  text-align: center;
}

#agrupar {
  /*define el ancho que va a tomar la pagina*/
  width: 960px;
  /**/
  margin: 15px auto;
  text-align: left;
}

#cabecera {
  background: #fffbb9;
  border: 1px solid #999999;
  padding: 20px;
  text-align: center;
}

#menu {
  background: #cccccc;
  padding:5px 15px;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
}

#seccion {
/*float lo que hace es que dentro del espacio que tiene disponible lo tire hacia
donde se le indique en este caso a la izquierda*/
  float: left;
  width: 660px;
  margin: 20;
  background: #cccccc;
}

#columna {
  /*la columna no necesariamente va a estar sobre o bajo seccion
  sino que se la asigna tambien a la izquierda asi se le podria decir que se
  apoya contra la seccion, si se le asigna derecha se iria totalmente a la derecha
  y no quedaria bien*/
  float: left;
  width: 220px;
  margin: 20px 0px;
  padding: 20px;
  background: #cccccc;
}

#pie {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999
}

article {
  background: #fffbcc;
  border:1px solid #999999;
  padding:20px;
  margin-bottom: 15px
}
article footer {
  text-align: right;
}

time{
  color: #999999;
}
figcaption{
  font:italic 14px verdana, sans-serif;
}

div{
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #000000;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
