.item {
  display: block;
  width: 5em;
  height: 0.2em;
  background-color: #6c6c6c;
  border-radius: 1em;
  margin: 0.5em 0;
}

.active {
  background-color: #f5f5f5;
  color: #000;
  font-weight: bold;
  border-radius: 1em;
  margin: 0.5em 0;
  box-shadow: 0 0 0 0.1em #f5f5f5;
  transition: 0.3s;
}
