.item {
  display: block;
  width: 5em;
  height: 0.2em;
  background-color: #6c6c6c;
  border-radius: 1em;
  margin: 0.5em 0;
  transition: 500ms;
}

.active {
  background-color: theme("colors.blue.500");
  width: 6em;
  height: 0.3em;
  border-radius: 1em;
}

.titulo_pagina {
  transform: rotate(90deg);
  font-size: 1.5em;
  color: #6c6c6c;
  margin: 0.5em 0;
  transition: 500ms;
  font-weight: bold;
}

/* ARROWDOWN */
